<div id="basic_map_div">
	<div id="basic_map" >
	</div>
</div>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {zoom: 9, provider_key: "AIzaSyDJJPOQH24cT6ETa9IZacS7NENpUt2MKzA"}, internal: {id: 'basic_map'}}, function(){
	  	if(navigator.geolocation)
	    	navigator.geolocation.getCurrentPosition(displayOnMap);
	
	function displayOnMap(position){
		var marker = handler.addMarker({
		    lat: position.coords.latitude,
		    lng: position.coords.longitude,
		    infowindow: "You are here"
		  });
  		handler.map.centerOn(marker);
	}; 
	  	var markers = handler.addMarkers([
	  		<% @activities.each do |a| %>
		  		<% if !a.location.blank? %>
		  		{
			  		<% coos = Geocoder.coordinates(a.location) %>
				    lat: <%= coos[0] %>,
				    lng: <%= coos[1] %>,
				    infowindow: "<%=a.name%>, <%=a.location%>"
			  	},
	  			<%end%>
	  		<%end%>
	  	]);
	  //handler.map.centerOn(markers[0]);
	});
</script>
