<div style='width: 800px;'>
  <div id="basic_map" ></div>
</div>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {zoom: 9, provider_key: "AIzaSyDJJPOQH24cT6ETa9IZacS7NENpUt2MKzA"}, internal: {id: 'basic_map'}}, function(){
	  if(navigator.geolocation)
	    navigator.geolocation.getCurrentPosition(displayOnMap);
	});

	function displayOnMap(position){
	  var markers = handler.addMarkers([
	  	<% @activities.each do |a| %>
	  	{
	  		<% coos = Geocoder.coordinates(a.location) %>
		    lat: <%= coos[0] %>,
		    lng: <%= coos[1] %>,
		    infowindow: "<%=a.name%>, <%=a.location%>"
	  },
	  <%end%>
	  ]);
	  handler.map.centerOn(markers[0]);
	};
</script>
