<h1 class="headline">Activity Stash</h1>

<p class="welcometext fancyfont">Store your ideas for fun places to go in your local area!</p>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.css" rel="stylesheet">

<div id="fixed" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#fixed" data-slide-to="0" class="active"></li>
    <li data-target="#fixed" data-slide-to="1"></li>
    <li data-target="#fixed" data-slide-to="2"></li>
    <li data-target="#fixed" data-slide-to="3"></li>
    <li data-target="#fixed" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div style="background:url(/assets/IMG_0007a.jpg) center center; 
          background-size:cover;" class="slider-size">
      </div>
    </div>
    <div class="item">
      <div style="background:url(/assets/IMG_0011a.jpg) center center; 
          background-size:cover;" class="slider-size">
      </div>
    </div>
    <div class="item">
      <div style="background:url(/assets/P1000547a.jpg) center center; 
          background-size:cover;" class="slider-size">
      </div>
    </div>
     <div class="item">
      <div style="background:url(/assets/IMG_0041a.jpg) center center; 
          background-size:cover;" class="slider-size">
      </div>
    </div>

    <div class="item">
      <div style="background:url(/assets/DSCN3699a.jpg) center center; 
          background-size:cover;" class="slider-size">
      </div>
    </div>
</div>

<!-- Controls -->
<a class="left carousel-control" href="javascript:void(0)" 
     data-slide="prev" data-target="#fixed">
<span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="javascript:void(0)" 
     data-slide="next" data-target="#fixed">
<span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>


<script>$('#fixed').carousel();</script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="dist/js/bootstrap.min.js"></script>
<script type="text/javascript"> //sets background of this page only to paper pattern
  document.body.style.background='url(/assets/paper_fibers.png)';
</script>