/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 */

@import "bootstrap";

//= require rails_bootstrap_forms

.logo {
	font-family: 'Lobster Two', cursive;
	font-size: 24px;
}

.fancyfont {
	font-family: 'Indie Flower', cursive;
	font-size: 48px;
}

.basiccontainer {
	margin: 30px auto;
	margin-bottom: 30px;
	max-width: 600px;
	padding: 20px;
	/*background: #DBDBDB;*/
	background: url(/assets/paper_fibers.png);
	box-shadow: 0 0 0 20px rgba(0,0,0,0.3);
}

.indexcontainer {
	margin: 30px auto;
	max-width: 800px;
	padding: 20px;
	background: url(/assets/paper_fibers.png);
	/*background: #DBDBDB;*/
	/*background: #D0EDF7;*/
	box-shadow: 0 0 0 20px rgba(0,0,0,0.3);
}

#basic_map, #show_map {
	width: 560px; 
	height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
}
/*#basic_map_div {
	left-margin: auto;
	right-margin: auto;
}*/