.headline {
	text-align: center;
	font-family: 'Lobster Two', cursive;
	font-size: 70px;
}

.welcometext {
	text-align: center;
	font-size: 24px;
}

#fixed .slider-size {
    height: 400px; //This is your slider height
    width: 100%;
  }