<div class = "table-responsive">
	<table class="table">
		<tr>
			<th>
			  	<p class="quote">Activity</p>
			</th>
			<th>
			  	<p class="quote">Location</p>
			</th>
			<th>
			  	<p class="quote">Link</p>
			</th>
		</tr>
		<% @activities.each do |a| %>
		<tr>
				<td>
					<%= link_to a.name, a %> 
				</td>
				<td>
					<%=a.location%>
				</td>
				<td>
					<a href="<%=a.link%>"><%= a.link %></a>
				</td>
			</tr>
		<%end%>
	</table>
</div>

