<div x-ng-app="activity-app" class="indexcontainer">
	<div ng-controller="ActivityCtrl">
		<h1 class="fancyfont">Your Activities</h1>
		<div class="form-group">
	        <input x-ng-model="searchActivity" type="text" class="form-control">
	    </div>
		<div class = "table-responsive">
		<table class="table table-bordered">
			<!-- <tr>
				<th>
				  	<p>Activity</p>
				</th>
				<th>
				  	<p>Categories</p>
				</th>
				<th>
				  	<p>Location</p>
				</th>
				<th>
				  	<p>Link</p>
				</th>
			</tr> -->
			<tr x-ng-repeat="a in activities | filter:searchActivity">
				<td>
					<div ng-hide="activity.editing">
						{{a.name}} &mdash; {{a.location}}
					</div> 
					
					<form ng-show="a.editing" ng-submit="updateActivity(a);" class="form-group">
						<label for="name">Activity:</label>
						<input ng-model="a.name" name="name" class="form-control">
						<label for="location">Location:</label>
						<input ng-model="a.location" name="location" class="form-control">
						<label for="link">Link:</label>
						<input ng-model="a.link" name="link" class="form-control">
						<label for="notes">Notes:</label>
						<input ng-model="a.notes" name="notes" class="form-control">
						<input type="submit" value="Update!" class="btn btn-primary">
					</form>

					<div ng-show="a.details">
		              <dl>
<!-- 		                 <dt>Activity:</dt>
		                 <dd>{{a.name}}</dd>
		                 <dt>Location:</dt>
		                 <dd>{{a.location}}</dd> -->
		                 <dt>Link:</dt>
		                 <dd>{{a.link}}</dd>
		                 <dt>Notes:</dt>
		                 <dd>{{a.notes}}</dd>
		              </dl>
		            </div>
				</td>

				<td>
					<span ng-hide="a.details"><a ng-click="showActivity(a);" class="btn btn-primary">Details</a></span>
					<span ng-show="a.details"><a ng-click="hideActivity(a);" class="btn btn-primary">Hide</a></span>
				</td>
				
				<td>
					<a ng-click="editActivity(a);" class="btn btn-primary">Edit</a>
				</td>
				
				<td>
					<a ng-click="deleteActivity(a);" class="btn btn-primary">Delete</a>
				</td>
				
				<!-- <td>
					<ul x-ng-repeat="c in a.categories">
						<li>
							{{c.name}}
						</li>
					</ul>
				</td>
				<td>
					{{a.location}}
				</td>
				<td>
					{{ a.link }}
				</td> -->
			</tr>
		</table>
		</div>

		 <h3>New Activity:</h3>
		    <form ng-submit="saveActivity();" class="form-group">
		      <label for="name">Activity:</label>
		      <input ng-model="newActivity.name" name="name" class="form-control">
		      <label for="location">Location:</label>
		      <input ng-model="newActivity.location" name="location" class="form-control">
		      <label for="link">Link:</label>
		      <input ng-model="newActivity.link" name="link" class="form-control">
		      <input type="submit" value="Add New Activity!" class="btn btn-primary">
		    </form>
	</div>
</div>