<div x-ng-app="activity-app" class="indexcontainer">
	<div ng-controller="ActivityCtrl">
	<h1 class="fancyfont">Your Activities</h1>
	<div class="form-group">
        <input x-ng-model="searchActivity" type="text" class="form-control">
    </div>
	<div class = "table-responsive">
	<table class="table table-bordered">
		<tr>
			<th>
			  	<p>Activity</p>
			</th>
			<th>
			  	<p>Categories</p>
			</th>
			<th>
			  	<p>Location</p>
			</th>
			<th>
			  	<p>Link</p>
			</th>
		</tr>
		<tr x-ng-repeat="a in activities | filter:searchActivity">
			<td>
				{{a.name}} 
			</td>
			<td>
				<ul x-ng-repeat="c in a.categories">
					<li>
						{{c.name}}
					</li>
				</ul>
			</td>
			<td>
				{{a.location}}
			</td>
			<td>
				{{ a.link }}
			</td>
		</tr>
	</table>
</div>
</div>
</div>